<p-table [columns]="cols" [value]="cars" selectionMode="single" [paginator]="true" [rows]="8">
<ng-template pTemplate="caption">
  List of Cars
</ng-template>
<ng-template pTemplate="header" let-columns>
    <tr>
        <th *ngFor="let col of columns">
            {{col.header}}
        </th>
        <th>
            Action
        </th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData" >
        <td *ngFor="let col of columns">
            {{rowData[col.field]}}
        </td>
        <td>
            &nbsp; &nbsp; &nbsp;
            <button pButton type="button" icon="fa fa-close" label="Hapus" class="ui-button-danger"(click)="deleteCar(rowData)"></button> 
            &nbsp;
            <button pButton type="button" icon="fa fa-check" label="Ubah" class="ui-button-warning"(click)="getData(rowData)"></button>
        </td>
      </tr>
</ng-template> 
</p-table>