<div class="title">
    <h1>Erik Sutiawan - G9</h1>
    <span class="slogan">Angular Class</span>
</div>
<app-input-form></app-input-form>
<app-data-table></app-data-table>
<button (click)="onInsert()" type="button" label="Tambah" pButton icon="pi pi-plus-circle"></button>
