@import"try.scss";

.title {
    border: nth($title , 1 );
    text-align: nth($title , 2 );
    padding: nth($title , 3 );
    font-family: nth($title , 4 );
    .slogan {
        font-size: nth($title , 5 );
        color: nth($title , 6 );
    }
}
