@import "../try.scss";

p{
    color: $paragraphColor;
}

label {
    display: nth($label , 1 );
    width: nth($label , 2 );
    margin: nth($label , 3 );
    color: nth($label , 4 );
    font-weight: nth($label , 5 );
  }
  
input {
    width: nth($input , 1 );
    height: nth($input , 2 );
    font-size: nth($input , 3 );
    padding-left: nth($input , 4 );
  }