<p-dialog header="{{display | uppercase}}" [(visible)]="display" [width]="325">
  <form [formGroup]="inputForm">
    <label>VIN</label>
      <input *ngIf="display=='ubah'" disabled type="text" id="vin" appNoNull name="vin" formControlName="vin"/>
      <input *ngIf="display=='tambah'" type="text" id="vin" appNoNull name="vin" formControlName="vin"/>
      <br><p *ngIf="!inputForm.controls['vin'].valid && inputForm.controls['vin'].dirty && inputForm.controls['vin']">
        please input not null
      </p>
    <label>BRAND</label>
      <input type="text" id="brand" appNoNull name="brand" formControlName="brand"/>
      <br><p *ngIf="!inputForm.controls['brand'].valid && inputForm.controls['brand'].dirty && inputForm.controls['brand']">
        please input not null
      </p>
    <label>YEAR</label>
      <input type="text" id="year" appNoNull appNoPattern name="year" formControlName="year"/>
      <br><p *ngIf="!inputForm.controls['year'].valid && inputForm.controls['year'].dirty && inputForm.controls['year']">
        please input not null & just number
      </p>
    <label>COLOR</label>
      <input type="text" id="color" appNoNull name="color" formControlName="color"/> 
      <br><p *ngIf="!inputForm.controls['color'].valid && inputForm.controls['color'].dirty && inputForm.controls['color']">
        please input not null
      </p>
    <label>PRICE</label>
      <input type="text" id="prices" appNoNull appNoPattern name="prices" formControlName="prices"/>
      <br><p *ngIf="!inputForm.controls['prices'].valid && inputForm.controls['prices'].dirty && inputForm.controls['prices']">
        please input not null & just number
      </p>
    <label>TYPE</label>
     <input type="text" id="type" appNoNull name="type" formControlName="type"/>
     <br><p *ngIf="!inputForm.controls['type'].valid && inputForm.controls['type'].dirty && inputForm.controls['type']">
        please input not null & just number
     </p>
    <br>
    <button *ngIf="display === 'tambah'" pButton icon="pi pi-plus-circle" pButton label="Tambah" class="ui-button-primary" type="button" (click)="saveCar()" [disabled]="!inputForm.valid"></button>
    <button *ngIf="display === 'ubah'" icon="fa fa-check" pButton label="Ubah" class="ui-button-warning" type="button" (click)="saveCar()"></button>&nbsp;
    <button  pButton label="Batal" icon="fa fa-close" class="ui-button-danger" type="button"(click)="clear()"></button>
    <br>
  </form>
</p-dialog>